*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* removes vedio controls */
video::-webkit-media-controls {
  display: none !important;
}

::-webkit-scrollbar {
  display: none;
}